.places__like-button {
  display: block;
  flex-shrink: 0;
  width: 22px;
  height: 19px;
  padding: 0;
  margin: 0;
  border: none;
  background: url("../../../images/like-icon.svg") center / cover no-repeat;
  cursor: pointer;
  transition: 0.4s;
}
.places__like-button:hover {
  background: url("../../../images/like-icon-hover.svg") center / cover
    no-repeat;
}
